{% extends "irmasoftHomeBundle::layout.html.twig" %}
{% block container %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact
{#                    <small>Subheading</small>#}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('irmasoft_home_homepage') }}">Accueil</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            
            <div class="col-md-8">
                <h3>Ecrivez-nous votre message</h3>
                <form action="{{ path('irmasoft_home_contact') }}" name="sentMessage" id="contactForm" method="POST"  {{ form_enctype(form) }}>
                    {{ form_widget(form._token) }}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Votre nom:</label>
                            <input type="text" class="form-control" id="name" name="name" >
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Numéro de télephone:</label>
                            <input type="tel" class="form-control" id="phone" name="phone">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Addresse Email (*):</label>
                            <input type="email" class="form-control" id="email" name="email" 
required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message (*):</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" 
name="message" required data-validation-required-message="Please enter your message" 
maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    {#
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Que vaut : 5 + 5 (*):</label>
                            <input type="text" class="form-control" id="int" name="int" required data-validation-required-message="Please answer the question above.">
                        </div>
                    </div>#}
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Envoyer</button>
{#                    {{ form_rest(form) }}#}
                </form>
            </div>

            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Nous contactez</h3>
                <p>
                    21 Rue de Richelieu<br>75001 Paris<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">Tél</abbr>: 06 51 34 32 15 </p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:contact@irmasoft.com">contact@irmasoft.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Lundi - Vendredi: 9h:00 à 18h00</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>
{% endblock%}